*{
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

/*style the header*/
header{
    text-align: center;
}

/*style of the navigation column*/
.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: darkgrey;
    float: left;
}

.navBar li a{
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

/*change link color on hover*/
.navBar li a:hover{
    background-color: black;
    color: white;
}

/*style for main content*/
.mainBody{
float: right;
width: 75%;

padding: 10px;
border-style: double;
border-color: white;
}

.head{
    border-style: groove;
    border-color: black;
    background-color: white;
    color: black;
}

.pics{
    border-style: groove;
    border-color: gray;
    margin: auto;
    width: 33%;
    float: left;
}
