*{
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

/*style the header*/
header{
    text-align: center;
}

/*style of the navigation column*/
.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: darkgrey;
    float: left;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

.navBar li a{
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

/*change link color on hover*/
.navBar li a:hover{
    background-color: black;
    color: white;
}

/*style for main content*/
.mainBody{
float: left;
width: 75%;
margin-left: 10px;
margin-right: 10px;
padding: 5px;
border-style: double;
border-color: white;
}

.head{
    border-style: groove;
    border-color: black;
    background-color: white;
    color: black;
}

.pics{
    border-style: groove;
    border-color: gray;
    margin: auto;
    width: 33%;
    float: left;
}
